filebeat.inputs:
- type: log
  enabled: true
  paths:
    - C:\Sistemas\Logs\*.txt
  close_inactive: 10m

  multiline.pattern: 'SISTEMA:'
  multiline.negate: true
  multiline.match: after
  multiline.flush_pattern: '-----------------'

filebeat.config.modules:
  path: C:\ProgramData\chocolatey\lib\filebeat\tools\modules.d\*.yml
  reload.enabled: true

setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
  _source.enabled: false

setup.template:
  name: '{{ index_name }}'
  pattern: '{{ index_name }}-*'
  enabled: false

output.elasticsearch:
  hosts: [""]
  index: "{{ index_name }}-%{+yyyy.MM.dd}"
  protocol: "https"

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
